<html>
  <head>
    <title>A Multiplayer room gamie game</title>
    <style>
      canvas {
        width: 800px;
        height: 600px;
        border: 5px solid black;
      }
      div {
       background-color: lightgray;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
     <!--<script src="http://localhost:3001/socket.io/socket.io.js"></script>-->
    
  </head>
  <body>
      <div id="aux1"> aux1 </div>
        <div style="background-color:darkblue;color:pink"> <h1>CONSOLE</h1>
  --------------------------------
  <p id="messages" ></p>
  --------------------------------
  </div>
    
       <div id="message-container">message container</div>
        <form id="send-container">
            <input type="text" id="message-input" required>
            <button type="submit" id="send-button">
                Send
            </button>
            
        </form>
       
       
       <script src="../static/game.js"></script>
  </body>
  
</html>

