/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2020, 0:32:15
    Author     : MiPc
*/

#aux2{
    position:absolute;
    top:340px;
}

#aux{
    position:absolute;
    top:60px;
}

#aux3{
    position:absolute;
    top:140px;
    
}